<html>
    <head>
        <title>Login Website | Togedule </title>
        <link rel="stylesheet" href = "login style.css "/>
        <script>
            src="https://kit.fontawesome.com/64d58efce2.js"
        </script>
    </head>
    <body>
        <header>
            <a href= "#" class="logo">NTU 地圖交友</a>
            <ul>
                <li><a href="#" >Chat Room</a></li>
                <li><a href="#" >My Info</a></li>
                <li><a href="https://my.ntu.edu.tw/?block=5,6" >NTU Website</a></li>
                <li><a onclick="history.back()">Back</a></li>
            </ul>     
        </header>
        
        <form action = "" class="login" method="post">
            <h1>帳號登入 Login</h1>
            <div class="input-field">
                <label for="email" class="email" >帳號&nbsp:</label>
                <input id = "email" type = "text" placeholder= "User" />
                <label for="password" class="password" >密碼&nbsp:</label>
                <input id = "password" type = "password" placeholder = "Password" />
                <input type="submit" value="Login" onclick="submit()" id="loginbtn">
                <script src="id.js"></script>
                <py-script src="run.py"></py-script>
            </div>
            <!--

            <p class="social-text">Or sign in with social platforms</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>

            -->
        </form>
    </body>
</html>